.carickat-logo {
  position: absolute;
  left: 50%;
  top: 16.15%;
  width: 26.2%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
  z-index: 12;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carickat-logo img {
  width: 138%;
  height: 138%;
  object-fit: cover;
  object-position: center center;
}
